{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Cultural Immersion | Red Dust</title>
{% endblock %}

{% block id %}cultural-immersion{% endblock %}

{% block main %}

  <section class="hero">
    <div class="liner">
      <h1>Cultural Immersion</h1>
    </div>
    <picture>
      <source media="(max-width: 800px)" srcset="/assets/img/cultural-immersion/cultural-immersion-reddust-hero-800px.jpg">
      <source media="(max-width: 1200px)" srcset="/assets/img/cultural-immersion/cultural-immersion-reddust-hero-1200px.jpg">
      <img src="/assets/img/cultural-immersion/cultural-immersion-reddust-hero-1800px.jpg" width="1800" height="800" alt="indigenous aboriginal people around campfires">
    </picture>
  </section>

  <section class="content">
    <div class="liner">
      <h2>Cultural education, immersion and leadership</h2>
      <p>In partnerships with remote Indigenous communities Red Dust can facilitate genuine two-way learning and cultural exchange.</p>
      <p>We work together with our corporate and community partners to share cultural knowledge in safe environments for a dynamic conversation about country, mob, family and identity.</p>
      <p>Red Dust Lunch and Learn - a great platform to introduce Red Dust to employees and support them in cultural awareness and competency. During the lunch and learn we introduce a range of topics including:</p>
      <ul>
        <li>a snapshot of pre-colonial Australia</li>
        <li>introductory protocols including welcome and acknowledgement of country</li>
        <li>impact and challenges of colonisation for remote communities</li>
        <li>what it really means to walk side-by-side for Conciliation</li>
      </ul>
      <p>The Lunch and Learn is an organic session and there may be other topics that are discussed with the group as a result of the conversation.</p>
      <p>Our Cultural Immersion program is an opportunity for corporate employees to experience an on country community immersion program within Indigenous cultural frameworks for understanding and Reconciliation. This program can be tailored to align with your employee development goals.</p>
      <p>Strategy development and consultations can be tailored for senior executives and boards to access Red Dust internal cultural knowledge and experience to support your organisation’s Reconciliation journey. Our flexible delivery options will support the development of your team and stakeholder engagement. Delivery options include board briefing sessions, tailored workplace-based cultural competency workshops, individual mentoring and team information sessions.</p>
      <p>Contact Red Dust to find out how we can support your cultural education, immersion and leadership goals.</p>
      <div class="cta">
        <a href="/contact" class="button large rust responsive">Contact Us</a>
      </div>
    </div>
  </section>

{% endblock %}