{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Gifts in Wills | Red Dust</title>
{% endblock %}

{% block id %}gifts-in-wills{% endblock %}

{% block main %}

  <section class="hero parallax">
    <div class="liner">
      <h1>Gifts in Wills</h1>
    </div>
    <picture>
      <source media="(max-width: 800px)" srcset="/assets/img/gifts-in-wills/wills-reddust-hero-800px.jpg">
      <source media="(max-width: 1200px)" srcset="/assets/img/gifts-in-wills/wills-reddust-hero-1200px.jpg">
      <img src="/assets/img/gifts-in-wills/wills-reddust-hero-1800px.jpg" width="1800" height="800" alt="indigenous Australian aboriginal kids playing with rugby in dusty field at sunset">
    </picture>
  </section>

  <section class="content">
    <div class="liner">
      <p class="center">No matter how large or small, when you make a donation to Red Dust Role Models in your Will, your legacy will enrich lives, improve health and strengthen the future of Indigenous youth and families.
        <br>This type of legacy gift is a way to ensure that your values impact future generations of Indigenous youth and families.</p>
      <blockquote cite="Andrew O'Keeffe and Jude Tasker">
        <p>&ldquo;On a visit with Red Dust to the remote community of Kintore, I (Andrew) was struck by the generosity of the elders in sharing their culture and their drive to support their younger generations. As one elder told me, &ldquo;Red Dust is the one that cares, they visit and they stay&rdquo;. We're delighted to make a bequest in our wills so that remote communities like Kintore will benefit through the good work of Red Dust.&rdquo;</p>
        <cite>- ANDREW O'KEEFFE AND JUDE TASKER</cite>
      </blockquote>
      <h2>Leaving a Gift in your Will</h2>
      <p>If you're considering leaving a gift to Red Dust Role Models in your will, let us know and we'd love to chat to you about your intentions.</p>
      <ul>
        <li>We know family and loved ones should always come first.</li>
        <li>We think it is an important step to talk to family and loved ones about your will - communication will help ensure your final wishes are carried out.</li>
        <li>We also understand that circumstances change and respect your decision to alter your will at any time.</li>
      </ul>
      <p>We are very grateful when people decide to include a bequest to Red Dust Role Models in their will. If you have any questions you can contact us any time at
        <a href="mailto:partner@reddust.org.au" target="_blank" rel="noreferrer nofollow">partner@reddust.org.au</a>.
      </p>
      <h3>There are three basic steps:</h3>
      <h2>Step 1: Make or update your will</h2>
      <p>Your will is an important document that must be properly prepared and executed. Preparation will save you time, money and help you decide if you need to use a solicitor or if you can do it yourself.</p>
      <p>
        <strong>If you need to make a will</strong>, it is best to consult a solicitor who is experienced in wills and estates. The cost to do this can vary a good deal so be sure to get some estimates from a few. You can search for Solicitors in your area through the Law Society in your State or Territory.</p>
      <p>Including a gift to Red Dust Role Models in your will is a tremendous act of generosity. To ensure that your decision is carried out smoothly it is very important that the correct wording is used.</p>
      <p>
        <strong>Wording of Will</strong><br>&ldquo;I (insert your name here) bequeath to Red Dust Role Models ABN 12 118 641 777 for its general purposes</p>
      <p>[Choose and insert the appropriate statement from the list below]</p>
      <ul>
        <li>the whole of my estate</li>
        <li>(insert number) percentage of my estate</li>
        <li>the residue of my estate</li>
        <li>the amount of $ (insert the value of your gift in cash)</li>
        <li>my (insert name of asset)</li>
      </ul>
      <p>free of all duties, and the receipt of the Secretary or other authorised officer for the time being shall be a complete and sufficient discharge for the Executor(s).&rdquo;</p>
      <p>
        <strong>If you already have a Will</strong>, the most cost-effective way to include a bequest to Red Dust Role Models is by adding a codicil, which is simply a legal amendment to your existing will.</p>
      <p>Check with your solicitor if a codicil is sufficient. Depending on the change, they may advise a full update.</p>
      <p>
        <em>
          Make sure that you notify family and loved ones that you are updating your will - communication will ensure your final wishes are carried out; and include the correct wording to make sure your gift is received and used as you intended.</em>
      </p>
      <h2>Step 2: Decide your gift</h2>
      <p>
        <strong>Whole of Estate</strong>
        - provides the entire Estate to a beneficiary;</p>
      <p>
        <strong>Residual</strong>
        - refers to the section of the Estate left when all other beneficiaries or debtors have been settled. This could be 100% of the residual or any percentage you choose*;</p>
      <p>
        <strong>Percentage of Estate</strong>
        - determine an amount as a percentage of your whole Estate*; Specify an exact amount from your Estate - a fixed sum enables you to control how much a beneficiary receives precisely;</p>
      <p>
        <strong>Assets</strong>
        - can enable a beneficiary to retain the asset and earn an income from it or sell it and realise the capital value.</p>
      <p>*Either of these options mean you do not need to make changes to the amount if your situation changes over time.</p>
      <p>You can decide whether you want to specify how your gift is used, or if you're happy to allow us to allocate it where it will have the greatest impact.</p>
      <p>Most of our supporters chose to include a gift for "general purposes" but it is possible to specify how your gift is used to ensure it meets your expectations.</p>
      <p>Please contact us to discuss.</p>
      <h2>Step 3: Notify loved ones and Red Dust Role Models</h2>
      <p>It is an important step to talk to family and loved ones about your will - communication will help ensure your final wishes are carried out.</p>
      <p>Let your family know that a gift to Red Dust Role Models, or any other charity you may mention, is important to you and advise any executors and guardians of your wishes.</p>
      <p>If you have left a gift in your will to Red Dust Role Models, please do let us know.</p>
      <p>You can notify us by emailing us at
        <a href="mailto:partner@reddust.org.au" target="_blank" rel="noreferrer nofollow">partner@reddust.org.au</a>.</p>
      <p>Thank you for considering Red Dust Role Models for a gift in your Will to improve health and strengthen the future of Indigenous youth and families.</p>
  </ul>
</div>
</section>

{% endblock %}