{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Workplace Giving | Red Dust</title>
{% endblock %}

{% block id %}workplace-giving{% endblock %}

{% block main %}

  <section class="hero">
    <div>
      <h1>Workplace Giving</h1>
    </div>
    <picture>
      <source media="(max-width: 800px)" srcset="/assets/img/workplace-giving/workplace-giving-reddust-hero-800px.jpg">
      <source media="(max-width: 1200px)" srcset="/assets/img/workplace-giving/workplace-giving-reddust-hero-1200px.jpg">
      <img src="/assets/img/workplace-giving/workplace-giving-reddust-hero-1800px.jpg" width="1800" height="800" alt="blond indigenous Australian aboriginal boy in front of a swimming pool">
    </picture>
  </section>

  <section class="content">
    <div>
      <h2>Become a workplace giving partner today!</h2>
      <p class="center">Workplace giving is where employees give small, regular donations to a charity from their pre-tax pay. It’s a simple and effective way to make the world a better place.</p>
      <h2>How does it work?</h2>
      <p class="center">Through workplace giving, employees can nominate Red Dust to receive a regular donation taken from their salary before tax each pay cycle!<br>
        Employers make the donation directly to Red Dust, and in some cases match the employee donation dollar for dollar.<br>
        As donations are deducted from pre–tax pay, the tax benefit for the employee is immediate and there is no need to keep receipts or claim at tax time.<br>
        Workplace giving is one of the most effective ways of supporting us to strengthen the future of Indigenous youth and families in remote communities.</p>
    </div>
  </section>

  <section id="five-dollar">
    <div>
      <h2>When you give $5 before tax* each week...</h2>
      <ul>
        <li>It only costs you $3.40</li>
        <li>Red Dust still receives the full $5 donation</li>
        <li>Which provides 5 students with a place at an after-school Red Dust sports workshop</li>
      </ul>
      <p>Think about it this way... for less than a cup of coffee each week you can make a real difference.</p>
    </div>
  </section>

  <section id="prices">
    <ul>
      <li>
        <div>
          <h3>$1 per week</h3>
        </div>
        <p>Provides a student with a place at an after-school Red Dust sports workshop where they learn new skills, work as a team, have fun and inspire each other to make active lifestyle choices.</p>
      </li>
      <li>
        <div>
          <h3>$2 per week</h3>
        </div>
        <p>Provides one person the opportunity to participate in an exciting Red Dust music workshop where they can learn about new instruments, help to write songs and celebrate culture through music and the creation of a music video.</p>
      </li>
      <li>
        <div>
          <h3>$3 per week</h3>
        </div>
        <p>Provides an aspiring community role model a tailored training session so that they can build and practice the skills to support Red Dust program delivery.</p>
      </li>
      <li>
        <div>
          <h3>$10 per week</h3>
        </div>
        <p>Supports a teenager or young adult with the opportunity to attend our Strong Young Women's or Strong Young Men's program camp where they will be equipped to make good lifestyle choices and open up new and exciting pathways.</p>
      </li>
    </ul>
  </section>

  <section id="workplace-giving">
    <h3>To learn more about workplace giving with Red Dust, email partner@reddust.org.au or call 03 9818 1744.</h3>
    <img src="/assets/img/workplace-giving/logo-workplace-giving.png" width="389" height="212" alt="logo Workplace Giving Australia">
    <p>Workplace Giving Australia (WGA) is a not-for-profit organisation and the architect, driver and thought leader of giving at work. WGA advises employers on how to develop best practice giving programs and advocates for giving at work as the most effective way for working Australians to support charity.</p>
    <div class="imgs">
      <img src="/assets/img/workplace-giving/onemilliondonors.png" width="295" height="77" alt="logo One Million Donors">
      <img src="/assets/img/workplace-giving/logo-workplace-giving.png" width="295" height="67" alt="logo Workplace Giving Charity">
    </div>
    <p>Through our partnership with Workplace Giving Australia, we are proud to support the 1MDonors movement to see one Million Australians donating to charity through work.</p>
  </section>

{% endblock %}