{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Contact | Red Dust</title>
{% endblock %}

{% block id %}contact{% endblock %}

{% block main %}

  <section id="hero" class="center">
    <img src="/assets/img/contact/hero.jpg"/>
  </section>

  <section id="title">
    <div>
      <h1>Contact</h1>
    </div>
  </section>

  <section id="address">
    <div>

      <div>
        <div>
          <h4>Red Dust Melbourne Office</h4>
          <p>Unit 1, 419 Lonsdale St, Melbourne VIC 3000</p>
          <p>PH 03 9818 1744</p>
          <a href="mailto:admin@reddust.org.au">admin@reddust.org.au</a>

          <h4>Red Dust Alice Springs</h4>
          <p>Alice Springs, NT 0870</p>
          <p>PH 03 9818 1744</p>

          <h4 class="how-can-i-help">How can I help?</h4>
          <p>Like to volunteer but not sure where to start?</p>
          <a class="button" href="/support">Support</a>
        </div>
      </div>

      <div id="map">
        <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=450&amp;hl=en&amp;q=alice%20spring+(Red%20Dust)&amp;t=k&amp;z=5&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
      </div>

    </div>
  </section>

  <section id="vision">
    <h2>Our aim: reducing chronic disease with a focus on nutrition, hygiene, substance misuse and physical activity.</h2>
  </section>

{% endblock %}