<header>
  <div>
    <a href="/" id="logo">
      <img class="icon" src="/assets/img/header/red-dust-logo.png"/>
    </a>
    <nav>
      <div class="icon">
        <button>
          <img src="/assets/img/icons/burger.svg"/><img src="/assets/img/icons/burger-hover.svg"/>
        </button>
      </div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/mission-and-values">About</a>
        </li>
        <li>
          <a href="/work/what-we-do">Our Work</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/support" class="button">Support</a>
        </li>
        <li>
          <a href="https://donate.everydayhero.com/d/8T-lHn0FXzWNEqdwCLYUMw/amount" target="_blank" class="button">Donate</a>
        </li>
        <li id="social">
          <a href="https://www.facebook.com/reddustrolemodels/?ref=br_rs">
            {% include "partials/social/facebook.njk" %}
          </a>
          <a href="https://twitter.com/reddustoz?lang=en">
            {% include "partials/social/twitter.njk" %}
          </a>
          <a href="https://www.youtube.com/channel/UCIdkSMHBaMggThxUSVxfVMQ">
            {% include "partials/social/youtube.njk" %}
          </a>
          <a href="https://www.instagram.com/reddustoz">
            {% include "partials/social/instagram.njk" %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>