<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
  window.dojoRequire(["mojo/signup-forms/Loader"], function (L) {
    L.start({"baseUrl": "mc.us1.list-manage.com", "uuid": "66d7547a837bf7ab7cd1ecfd8", "lid": "7a347c98df", "uniqueMethods": true})
  })
</script>