#contact {
  #title {
    background-color: $reddust-sunset;

    div {
      text-align: center;

      h1 {
        color: $reddust-cream;
        font-size: 45px;
        margin: 25px;
        @media (max-width: 900px) {
          font-size: 4vw;
        }
        @media (max-width: 600px) {
          font-size: 24px;
        }
      }
    }
  }

  #address {
    display: block;
    background-color: $reddust-yinnar;

    > div {
      display: flex;
      padding: 0;
      margin: auto;
      width: 100%;
      max-width: 1686px;
      background-color: $reddust-cream;
      @media (max-width: 700px) {
        flex-direction: column;
      }

      > div {
        flex-direction: column;
        text-align: center;
        width: 50vw;
        max-width: 843px;
        @media (max-width: 700px) {
          width: 100vw;
        }

        div {
          margin: 60px;
          @media (max-width: 800px) {
            margin: 40px;
          }

          h4 {
            font-size: 20px;
            margin-top: 40px;
            color: $reddust-gold;
          }

          .how-can-i-help {
            color: $reddust-rust;
          }

          p {
            line-height: 110%;
            font-size: 15px;
          }

          a {
            color: $reddust-rust;
            border-color: $reddust-rust;
            &:hover {
              color: $reddust-sunset;
              border-color: $reddust-sunset;
            }
          }
        }
      }

      #map {
        position: relative;
        width: 50vw;
        max-width: 1000px;
        margin: 0;
        @media (max-width: 700px) {
          width: 100vw;
          height: 100vw;
        }

        a {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
