<!DOCTYPE HTML>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="{{copyRight}}"/>
    {% for person in contributors %}
      <meta name="contributor-{{loop.index}}" content="{{person}}"/>
    {% else %}
      <meta name="author" content="Jan Werkhoven <jw@nabu.io> (https://github.com/janwerkhoven)"/>
    {% endfor %}
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="{{themeColour}}">
    {% block meta %}
      <title>Red Dust promoting health in remote Indigenous communities</title>
      <meta name="description" content="Health promotion charity walking alongside Indigenous people in remote communities. Encouraging youth and families to pursue aspirations, realise identity and strengthen their futures.">
    {% endblock %}
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">
    {% include "partials/favicons.njk" %}
    {% include "partials/google-tag-manager.njk" %}
    {% include "partials/facebook-pixel.njk" %}
  </head>

  <body id="{% block id %}{% endblock %}" class="{% block class %}{% endblock %}">
    {% include "partials/header.njk" %}
    <main>
      {% block main %}{% endblock %}
    </main>
    {% include "partials/footer.njk" %}
    {% include "partials/outdated-browsers.njk" %}
    {% include "partials/mailchimp.njk"%}
  </body>
</html>
