{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Donate</title>
  <meta name="description" content="Thank you for your generous support of our mission. Your contribution will have a positive impact on health and wellbeing in remote Indigenous communities.">
{% endblock %}

{% block id %}donate{% endblock %}

{% block main %}

  <section id="form">
    <h1>Donate</h1>
    <div class="liner">
      <iframe class="gn-iframe" src="https://www.givenow.com.au/embed/Y2F1c2VpZD0zODA2JmRvbWFpbj13d3cucmVkZHVzdC5vcmcuYXUmdG9rZW49MzgwNjo2NjhhOGI4ODNjMzY1YjFk" frameborder="0"></iframe>
      <aside>
        <h2>Thank you</h2>
        <p>Thank you for your generous support of our mission. Your contribution will have a positive impact on health and wellbeing in remote Indigenous communities.</p>
        <p>If you would prefer to donate via an alternate method, you can send cheques to 168 Burwood Rd Hawthorn VIC 3122. For bank transfers please contact
          <a href="mailto:admin@reddust.org.au" target="_blank" rel="noopener">admin@reddust.org.au</a>
          or call
          <a href="tel:0398181744" target="_blank" rel="noopener">03 9818 1744</a>.</p>
      </aside>
    </div>
  </section>

{% endblock %}