{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Corona virus | Red Dust</title>
{% endblock %}

{% block id %}corona{% endblock %}

{% block main %}

  <section id="video">
      <h1>Corona virus</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-CJ5JpsX-P0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

  <section id="vision">
    <h2>Our aim: reducing chronic disease with a focus on nutrition, hygiene, substance misuse and physical activity.</h2>
  </section>

{% endblock %}
