{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Red Dust Coronavirus message | Red Dust</title>
{% endblock %}

{% block id %}corona{% endblock %}

{% block main %}

  <section id="video">
    <div>
      <h1>Coronavirus is coming to all our communities. Everyone has a role to play in keeping our community safe.</h1>
      <iframe width="840" height="472.5" src="https://www.youtube.com/embed/-CJ5JpsX-P0" title="Red Dust Coronavirus message" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>This video was made possible with the support of:</p>
      <ul>
        <li>Ned Hargraves</li>
        <li>Miriam-Rose Ungunmerr-Baumann</li>
        <li>Monica 'Ampi' Robinson</li>
        <li>Tommy Conway</li>
        <li>Tarna Andrews</li>
        <li>Lorna Jackson</li>
        <li>Francis Collins</li>
        <li>Irene Nangala</li>
        <li>Buffalo Payne</li>
        <li>Victor Robinson</li>
        <li>Marlene Spencer</li>
        <li>Clint Kunoth</li>
        <li>William Parbuk</li>
        <li>McGrathNicol</li>
        <li>Medibank</li>
        <li>Newline Australia</li>
      </ul>
    </div>
  </section>

{% endblock %}
