{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Test</title>
  <meta name="description" content="">
{% endblock %}

{% block id %}contact{% endblock %}

{% block main %}

  <section id="title">
    <div>
      <h1>Test</h1>
    </div>
  </section>

  <section id="form">
    <div>
      <div style="padding:1px;max-width: 700px">
        <iframe class="gn-iframe" src="https://www.givenow.com.au/embed/Aa97H2VpZD0yMjM0JmRvbWFpbj13b21iYXQtcmFzcGJlcnJ5LW5vuwcbdu3F1YXJlc3BhY2UuY29tJnRva2VuPTIyMzQ6OTgwZDkbuydwbidbhiz" height="800" style="width: 100%" frameborder="0"></iframe>
      </div>
    </div>
  </section>

{% endblock %}