{% extends "layouts/page.njk" %}

{% block meta %}
  <title>Test</title>
  <meta name="description" content="">
{% endblock %}

{% block id %}contact{% endblock %}

{% block main %}

  <section id="title">
    <div>
      <h1>Test</h1>
    </div>
  </section>

  <section id="form">
    <div>
      <div style="padding:1px;max-width: 700px">
        <iframe class="gn-iframe" src="https://www.givenow.com.au/embed/Y2F1c2VpZD0zODA2JmRvbWFpbj13d3cucmVkZHVzdC5vcmcuYXUmdG9rZW49MzgwNjo2NjhhOGI4ODNjMzY1YjFk" height="870" style="width: 100%" frameborder="0"></iframe>
      </div>
    </div>
  </section>

{% endblock %}